{% extends 'base.html' %}
{% block styles %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/profile.js"></script>
{% endblock %}

{% block main %}

    <div class="span7">
        <p>
            <h3>{{ user.get_full_name }}</h3>
            <h3>{{ user.pk }}</h3>
        </p>
        <p>
            Руководитель группы GROUP
        </p>
        <p>
            Часы остаток
        </p>
        <p>
            <a class = "show_schedule" rel="{% url schedule_index id_teacher=user.pk %}" href="#">
                показать расписание на сегодня
            </a>
        </p>
        <p id = "schedule">
        </p>
    </div>
    <div class="span3">PHOTO</div>
{% endblock %}