{% extends 'base.html' %}
{% block styles %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/profile.js"></script>
{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span9">
            <p>
                <h3>
                    {{ student }}
                </h3>
            </p>
            {% if student.is_elder %}
                <p>
                    Староста группы {{ student.group }}
                </p>
            {% endif %}
            <p>
                <a class = "visible_schedule" rel="{% url schedule_index id_profile=student.pk %}" href="#">
                    <span id="{{ today }}" class="show">показать расписание на сегодня</span>
                    <span class="hide">скрыть расписание на сегодня</span>
                </a>
            </p>
            <p id = "schedule">
            </p>
        </div>
        <div class="span3">
            <img src="{{ MEDIA_URL }}img/alien.jpg" width="140px" height="240px">
        </div>
    </div>
{% endblock %}