{% extends 'base.html' %}
{% block styles %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/profile.js"></script>
{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span4">&nbsp;</div>
        <table class="tariffication span4">
            {% for user in users %}
                <tr style="height: 30px;">
                    <td><a href="{{ user.get_absolute_url }}">{{ user }}</a></td>
                </tr>
            {% endfor %}
{#            <tr>#}
{#                <td class="addin"><a href="./add"><div><b>+</b></div></a></td>#}
{#            </tr>#}
        </table>
    </div>
{% endblock %}