{% extends 'base.html' %}


{% block main %}
    <a class="btn btn-primary" href="{% url group_plan %}"><i class="icon-arrow-left icon-white"></i> Назад</a>
    <br><br>
    <div class="row-fluid">
        <div class="span4">&nbsp;</div>

        <table class="tariffication span4">
            <tr>
                <th colspan="2">План группы</th>
            </tr>
            <form action="" method="POST">{% csrf_token %}
                {{ form.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Добавить"/>
                    </td>
                </tr>
            </form>
        </table>
    </div>

{% endblock %}