{% extends 'base.html' %}


{% block main %}
    <a href="{% url plan_group %}">Вернуться</a>
    <br><br><br>
    <div class="row-fluid">
        <form action="" method="POST">{% csrf_token %}
            <table class="group_plan span9">
                <tr>
                    <th colspan="2">План группы</th>
                </tr>
                {{ form_plan_group.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Добавить"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}