{% extends 'base.html' %}


{% block main %}
    <a href="{% url tariffication %}">Вернуться</a>
    <br><br>
    <div class="row-fluid">
        <div class="span2">&nbsp;</div>

        <table class="tariffication span8">
            <tr>
                <th colspan="2">Нагрузка учебной части</th>
            </tr>
            <form action="" method="POST">{% csrf_token %}
                {{ form_tariffication.as_table }}
                {{ form_uchplan.as_table }}
                {{ dynamic_form.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Добавить"/>
                    </td>
                </tr>
            </form>
        </table>
    </div>
{% endblock %}