{% extends 'base.html' %}


{% block main %}
    Страница информации
    <a href="{% url plan_group %}">Вернуться</a>
    <br><br><br>
    <div class="row-fluid">
        <form action="" method="POST">{% csrf_token %}
            <table class="tariffication span6">
                <tr>
                    <th colspan="2">План группы</th>
                </tr>
                {% for tr in table %}
                    <tr style="height: 30px;">
                        <td style="text-align: left">
                            <b>{{ tr.0 }}</b>
                        </td>
                        <td style="text-align: left">
                            {{ tr.1 }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}