{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block title %}
    {{ group }} группы
{% endblock %}

{% block main %}

    <div class="row-fluid">
        <div class="span4">&nbsp;</div>
        <table class="tariffication span4">
            {% for discipline in disciplines %}
                <tr>
                    <td>
                        <a href="{% url journal teacher=teacher.id group=group.pk discipline=discipline.pk %}">
                            {{ discipline }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
