{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block title %}
    {{ group }} группы
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row-fluid">

            {% for discipline in disciplines %}
                <p style="text-align: center; font-size: 20px;">
                    <a href="{% url journal teacher=teacher.id group=group.pk discipline=discipline.pk %}">
                        {{ discipline }}
                    </a>
                </p>
            {% endfor %}

        </div>
    </div>

{% endblock %}