{% extends "journal/index.html" %}

{% block styles %}
{% endblock %}


{% block content %}
    <div id="selMark">
        <div class="close">
            <a href="#"><img src="{{ MEDIA_URL }}img/close.png" align="absmiddle"></a>
        </div>
        <a class="mark_2" mark="2" href="#">2 (не о чем)</a>
        <a class="mark_3" mark="3" href="#">3 (так се)</a>
        <a class="mark_4" mark="4" href="#">4 (нормально)</a>
        <a class="mark_5" mark="5" href="#">5 (круто)</a>
        <a class="mark_0" mark="0" href="#">clear <img src="{{ MEDIA_URL }}img/clear.png" align="absmiddle"></a>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <table id = "mark"  class="span7">
                <tr>
                    <th>
                        ФИО
                    </th>
                    {% for theme in themes %}
                        <th class="mark" l="{{ theme.id }}">{{ theme.id }}</th>
                    {% endfor %}
                </tr>

                {% for tr in table %}
                    <tr>
                        {% for td in tr %}
                            {% if not forloop.counter0 %}
                                {# Студент #}
                                <td class="name" id="stud_{{ td.0 }}">{{ td.1 }}</td>
                            {% else %}
                                {# Оценки студента #}
                                {% if td.1 %}
                                    <td class="mark theme_{{ td.0 }}" id="{{ tr.0.0 }}_{{ td.0 }}" s="{{ tr.0.0 }}" l="{{ td.0 }}">{{ td.1 }}</td>
                                {% else %}
                                    <td class="mark theme_{{ td.0 }}" id="{{ tr.0.0 }}_{{ td.0 }}" s="{{ tr.0.0 }}" l="{{ td.0 }}"></td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <table id="themes" class="span4">
                <tr>
                    <th>#</th>
                    <th class="name" style="text-align: center;">
                        Темы
{#                        <a id="add" href="#"><img src="{{ MEDIA_URL }}img/add.png" style="padding-left: 25px;"/></a>#}
{#                        <div>#}
{#                            <div class="close">#}
{#                                <a href="#"><img src="{{ MEDIA_URL }}img/close.png" align="absmiddle"></a>#}
{#                            </div>#}
{#                            {{ form_theme.as_p }}#}
{#                            <a class="add_theme" href="#">#}
{#                                <img src="{{ MEDIA_URL }}img/add.png" align="absmiddle">#}
{#                            </a>#}
{#                        </div>#}
                    </th>
                </tr>
                {% for theme in themes %}
                    <tr id="{{ theme.id }}">
                        <td>{{ theme.id }}</td>
                        <td class="theme" l="{{ theme.id }}">{{ theme.describe }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>



{% endblock %}