<HTML>
<HEAD>
    <link href="{{ MEDIA_URL }}css/bootstrap.min.css" type="type/css" rel="stylesheet" />
    <link href="{{ MEDIA_URL }}css/journal.css" type="type/css" rel="stylesheet" />
    <SCRIPT TYPE="text/javascript" SRC="{{ MEDIA_URL }}js/jquery.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="{{ MEDIA_URL }}js/journal.js"></SCRIPT>
    <SCRIPT TYPE="text/javascript" SRC="{{ MEDIA_URL }}js/jquery.leanModal.min.js"></SCRIPT>
</HEAD>
<BODY>
    <DIV ID="hat">
        <H2>Электронный журнал
            {% block title %}
            {% endblock %}
        </H2>
    </DIV>
    {% block menu %}
        <div id="menu">
            <a href='{% url teachers %}'>Журнал</a>
            <a href='#' id="aa">Оценки</a>
        </div>
    {% endblock %}
    <HR>
    <div id="main">
    {% block content %}
    {% endblock %}
    </div>
    <br/>
    <div class="push" style="clear: both;"></div>
    <div id="footer">Дмитровский профессиональный колледж</div>
</BODY>
</HTML>