{% extends "journal/index.html" %}

{% block styles %}
   {% endblock %}

{% block title %}
    {{ group }} группы, дисциплина {{ discipline }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <table id = "mark"  class="span7">
                <tr>
                    <th class="span3">
                        ФИО
                    </th>
                    {% for day in journal_days %}
                        <th class="mark" l="{{ day.id }}">{{ day.day|date:"m.d" }}</th>
                    {% endfor %}
                </tr>

                {% for tr in table %}
                    <tr>
                        <td class="name">{{ tr.student }}</td>
                        {% for mark in tr.marks %}
                            <td class="mark {{ mark.id }}" id="{{ tr.student.id }}_{{ mark.0 }}">
                                <a id="go" rel="leanModal" name="form_marks" href="#form_marks">
                                    {% for mark in mark.1 %}
                                        {% if not forloop.last %}
                                            <span class="{{ mark }}">{{ mark }}</span>,
                                        {% else %}
                                            <span class="{{ mark }}">{{ mark }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <table id="days" class="span4">
                <tr>
                    <th class="span1">#</th>
                    <th class="name" style="text-align: center;">
                       Темы
                    </th>
                </tr>
                {% for day in journal_days %}
                    <tr id="{{ day.id }}">
                        <td>
                            <span style="font-size: 14px;">
                                <p>{{ day.day }}</p>
                                <p>{{ day.num_less }} пара</p>
                            </span>
                        </td>
                        <td id="day_{{ day.id }}" class="theme">
                            <a id="go" rel="leanModal" name="form_themes" href="#form_themes">
                                {{ day.describe }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>




    <div id="form_themes">
        <div id="ct">
            <div id="ct-header">
                <h2>Добавить тему занятия</h2>
            </div>

            <form action="">
                <div class="txt-fld">
                    <label for="">Тема</label>
                    <input id="" class="good_input" name="describe" type="text">
                </div>
                <div class="btn-fld">
                    <a class="btn btn-success" style="float: right" href="#">Добавить »</a>
                </div>
            </form>
        </div>
    </div>

    <div id="form_marks">
        <div id="ct">
            <div id="ct-header">
                <h2 style="text-align: center;">Добавить оценку</h2>
            </div>

            <div style="padding-top: 10px; margin-left: 80px;">
                <form action="">
                    <p style="font-size: 23px;"><a class="mark_2" mark="2" href="#">2 (не о чем)</a></p>
                    <p style="font-size: 23px;"><a class="mark_3" mark="3" href="#">3 (так се)</a></p>
                    <p style="font-size: 23px;"><a class="mark_4" mark="4" href="#">4 (нормально)</a></p>
                    <p style="font-size: 23px;"><a class="mark_5" mark="5" href="#">5 (круто)</a></p>
                    <p style="font-size: 23px;"><a class="mark_0" mark="0" href="#">clear <img src="{{ MEDIA_URL }}img/clear.png" align="absmiddle"></a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
