{% extends "base.html" %}

{% block styles %}
    <link href="{{ MEDIA_URL }}css/journal.css" type="type/css" rel="stylesheet" />
    <script type="text/javascript" SRC="{{ MEDIA_URL }}js/journal.js"></script>
    <script type="text/javascript" SRC="{{ MEDIA_URL }}js/jquery.leanModal.min.js"></script>
{% endblock %}

{% block title %}
    Журнал {{ group }} группы по дисциплине {{ discipline.name }}, преподователь {{ teacher }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row-fluid">
            <table id = "mark"  class="span8">
                <tr>
                    <th class="span1">#</th>
                    <th class="span3">
                    ФИО
                    </th>
                    {% for day in journal_days %}
                        <th day="{{ day.id }}">{{ day.day|date:"m.d" }}</th>
                    {% endfor %}
                </tr>

                {% for tr in table %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td id="student_{{ tr.student.id }}" class="name">{{ tr.student }}</td>
                        {% for mark in tr.marks %}
                            <td class="mark day_{{ mark.0 }}" id="{{ tr.student.id }}_{{ mark.0 }}">
                                {% ifequal user.id teacher.id %}
                                    <a id="go" rel="leanModal" name="form_marks" href="#form_marks">
                                        {% include "journal/marks.html" %}
                                    </a>
                                {% else %}
                                    {% include "journal/marks.html" %}
                                {% endifequal %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <table id="days" class="span4">
                <tr>
                    <th>Дата</th>
                    <th class="span3">
                       Темы
                    </th>
                </tr>
                {% for day in journal_days %}
                    <tr id="{{ day.id }}">
                        <td class="day span1">
                            <span>
                                <p>{{ day.day|date:"m.d" }}</p>
                                <p>
                                    {{ day.num_less }} пара ({{ day.count_hours }})
                                </p>
                                <p>
                                    {{ day.shor_name}}
                                </p>
                            </span>
                        </td>
                        <td id="day_{{ day.id }}" class="theme">
                            {% ifequal user.id teacher.id %}
                                <a id="go" rel="leanModal" name="form_themes" href="#form_themes">
                                    <p>{{ day.describe }}</p>
                                </a>
                            {% else %}
                                <p>{{ day.describe }}</p>
                            {% endifequal %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <!-- Модал формы -->
    <div id="form_themes">
        <div id="ct">
            <div id="ct-header">
                <h2>Добавить тему занятия</h2>
            </div>

            <form action="">
                <div class="txt-fld">
                    <label for="">Тема</label>
                    <input id="" class="good_input" name="describe" type="text">
                </div>
                <div class="btn-fld">
                    <a class="btn btn-success" style="float: right" href="#">Добавить »</a>
                </div>
            </form>
        </div>
    </div>

    <div id="form_marks">
        <div id="ct">
            <div id="ct-header">
                <h2 style="text-align: center;">Добавить оценку</h2>
            </div>

            <div style="padding-top: 10px; text-align: center">
                <form action="">
                    <p style="font-size: 23px;"><a class="mark_5" mark="5" href="#">5</a></p>
                    <p style="font-size: 23px;"><a class="mark_4" mark="4" href="#">4</a></p>
                    <p style="font-size: 23px;"><a class="mark_3" mark="3" href="#">3</a></p>
                    <p style="font-size: 23px;"><a class="mark_2" mark="2" href="#">2</a></p>
                    <p style="font-size: 23px;"><a class="mark_0" mark="0" href="#">Удалить оценки</a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
