{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block main %}
    <div class="row-fluid">
        <div class="span4">&nbsp;</div>
        <table class="tariffication span4">
            {% for teacher in teachers %}
                <tr style="height: 30px;">
                    {% if teacher.id == user.pk %}
                        <td>
                            <a href="{% url groups teacher=teacher.id %}" style="color: #00b724;">{{ teacher }}</a></p>
                        </td>
                    {% else %}
                        <td>
                            <a href="{% url groups teacher=teacher.id %}">{{ teacher }}</a></p>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}еу