{% extends 'base.html' %}

{% block main %}

    1) добавить 2-ух пользователей Иван, Петр и Екатерина
    2) добавить назначить им должности 2 преподователя и 1 студент
    <br>
    <a href="{% url tarification %}">Тарификация</a>

<table border="1">
    <tbody>
{#    <tr>#}
{#        <th>#</th>#}
{#        <th>Ф.И.О преподавателя</th>#}
{#        <th>группа</th>#}
{#        <th>дисциплина</th>#}
{#        <th>ЛК</th>#}
{#        <th>ПР</th>#}
{#        <th>КН</th>#}
{#        <th>ЭК</th>#}
{#        <th>КП</th>#}
{#        <th>ПК</th>#}
{#        <th>итого</th>#}
{#    </tr>#}
{#    {% for tariff in tariffs %}#}
{#        <tr>#}
{#            <td align="center">{{ forloop.counter }}</td>#}
{#            <td align="left"><a href="">{{ tariff.uch_plan_hour.uch_plan.pk }}<b></b></a></td>#}
{#            <td align="left"><a href="">{{ tariff.set_teacher }}<b></b></a></td>#}
{#            <td align="left"><a href=""><b>{{ tariff.group_plan.group }}</b></a></td>#}
{#            <td align="left"><a href=""><b>{{ tariff.uch_plan_hour.uch_plan.disc }}</b></a></td>#}
{#            <td align="left"><a href=""><b>{{ tariff.uch_plan_hour.type }}</b></a></td>#}
{#            <td align="left"><a href=""><b>{{ tariff.uch_plan_hour.count_hours}}</b></a></td>#}

    {% for tbl in table %}
        <tr>
            <td align="left"><a href=""><b>{{ tbl.teacher }}</b></a></td>
            <td align="left"><a href=""><b>{{ tbl.grp }}</b></a></td>
            <td align="left"><a href=""><b>{{ tbl.disc }}</b></a></td>
        </tr>
    {% endfor %}


{##}
{#            <td align="left"><a href=""><b></b></a></td>#}
{#        </tr>#}
{#    {% endfor %}#}
    </tbody>
</table>
{% endblock %}