{% extends 'base.html' %}

{% block main %}
    Делаем тарификацию<br>
    <a href="/">назад</a><br>
    <br><br><br>

    {{ form.as_p }}





    {% for model in list_models %}
        <a href="/add/{{ model.0 }}/">{{ model.1 }}</a><br/>
    {% endfor %}


    <table border="1">
        <tbody>
        <tr>
            <td align="left"><a href=""><b>преподаватель</b></a></td>
            <td align="left"><a href=""><b>группа</b></a></td>
            <td align="left"><a href=""><b>дисциплина</b></a></td>
            <td align="left"><a href=""><b>семестр</b></a></td>
            {% for typeh in choices %}
                <td align="left"><a href=""><b>{{ typeh.1 }}</b></a></td>
            {% endfor %}
        </tr>
        {% for tr in table %}
            <tr>
                {% for td in tr %}
                    {% if forloop.counter < 5 %}
                        <td align="left"><a href=""><b>{{ td }}</b></a></td>
                    {% else %}
                        <td align="left"><a href=""><b>{{ td.1 }}</b></a></td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}
        </tbody>
    </table>


{% endblock %}