{% extends 'base.html' %}


{% block sidebar %}
{% endblock %}

{% block main %}
    <a href="{% url tariffication %}">Тариффикация</a><br>
    <br><br><br>
    {% for tr in table %}
        <div class="row-fluid">
        <table class="group-plan span10">
            {% ifnotequal tr.0 '' %}
                <tr>
                    <th colspan="3">{{ tr.0 }}</th>
                </tr>
            {% endifnotequal %}
            <tr>
                <td>{{ tr.1 }} группа</td>
                <td>{{ tr.2 }} курс</td>
                <td>{{ tr.3.0 }}, {{ tr.3.1}} семестр</td>
            </tr>
        </table>
        </div>
    {% endfor %}
    <p><a href="{% url add_plan_group %}">Добавить план группы</a></p>

{% endblock %}