{% extends 'base.html' %}

{% block main %}
    Страницы
    <br><br><br>

    <div class="row-fluid">
        <table class="tariffication span11">
            <tr>
                {% for th in ths %}
                    <th align="left"><b>{{ th.1|capfirst }}</b></th>
                {% endfor %}
            </tr>
            {% for tr in table %}
                <tr style="height: 30px;">
                    {% for td in tr %}
                        <td align="left"><b>{{ td}}</b></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}