{% extends 'base.html' %}

{% block main %}
    <br>

    <div class="row-fluid">
        <table class="tariffication span11">
            <tr>
                {% for th in ths %}
                    <th align="left"><b>{{ th.1|capfirst }}</b></th>
                {% endfor %}
            </tr>
            {% for tr in table %}
                <tr style="height: 30px;">
                    {% for td in tr %}
                        {% if forloop.counter0 %}
                            {% if td not in actions %}
                                <td align="left"><b>{{ td }}</b></td>
                            {% else %}
                                <td align="left"><a href="/{{ tr.0 }}/{{ td }}"><i class="icon-{{ td }}-big"></i></a></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
                <tr>
                    <td class="addin" colspan="{{ ths|length }}"><a href="./add"><div><b>+</b></div></a></td>
                </tr>
        </table>
    </div>

{% endblock %}