{% extends 'base.html' %}


{% block sidebar %}
{#    {{ appmodels }}#}
{% endblock %}

{% block main %}
    Список групп учебного плана
    <a href="{% url plan_group %}">Группы</a>
    <br><br><br>

    {% for model in list_models %}
        <a href="/add/{{ model.0 }}/">{{ model.1 }}</a><br/>
    {% endfor %}

    <div class="row-fluid">
        <table class="tariffication span11">
            <tbody>
            <tr>
                <th align="left"><b>преподаватель</b></th>
                <th align="left"><b>группа</b></th>
                <th align="left"><b>дисциплина</b></th>
                <th align="left"><b>семестр</b></th>
                {% for typeh in choices %}
                    <th align="left"><b>{{ typeh.1 }}</b></th>
                {% endfor %}
            </tr>
            {% for tr in table %}
                <tr style="height: 30px;">
                    {% for td in tr %}
                        {% if forloop.counter < 5 %}
                            <td align="left"><b>{{ td }}</b></td>
                        {% else %}
                            <td align="left"><b>{{ td.1 }}</b></td>
                        {% endif %}
                    {% endfor %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}