{% extends 'base.html' %}

{% block main %}
    Список групп учебного плана
    <a href="{% url plan_group %}">Группы</a>
    <br><br><br>

    <div class="row-fluid">
        <table class="tariffication span11">
            <tr>
                <th align="left"><b>преподаватель</b></th>
                <th align="left"><b>группа</b></th>
                <th align="left"><b>дисциплина</b></th>
                <th align="left"><b>семестр</b></th>
                {% for typehour in typehours %}
                    <th align="left"><b>{{ typehour }}</b></th>
                {% endfor %}
                <th align="left"></th>
            </tr>
            {% for tr in table %}
                <tr style="height: 30px;">
                    <td align="left"><b>{{ tr.teacher }}</b></td>
                    <td align="left"><b>{{ tr.group }}</b></td>
                    <td align="left"><b>{{ tr.discipline }}</b></td>
                    <td align="left"><b>{{ tr.semestr }}</b></td>
                    {% for hour in tr.hours %}
                        <td align="left"><b>{{ hour }}</b></td>
                    {% endfor %}
                    <td align="left">
                        <b>
                            <a href="{% url edit_tariffication 'edit' tr.teacher.id tr.group.id tr.discipline.id tr.semestr %}">
                                <i class="icon-edit-big"></i>
                            </a>
                        </b>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <p><a href="{% url add_tariffication 'add' %}">Добавить тариффикацию</a></p>

{% endblock %}
