{% extends 'base.html' %}

{% block styles %}

{% endblock %}

{% block main %}
    <a href="/">назад</a><br>
    <br><br><br>


    <div class="row-fluid">
        <table class="schedule span11">
            <tbody>
            <tr class="nso">
                <th align="left"><b> # </b></th>
                <th align="left"><b> группа </b></th>
                {% for i in rng %}
                    <th align="left"><b> {{ i }} пара </b></th>
                {% endfor %}
            </tr>

            {% for schedule in schedule_group %}
                {{ schedule }}

            {% endfor %}

{#            {% for grp in groups %}#}
{##}
{#                <tr>#}
{#                    <td align="left"><b> {{ forloop.counter }} </b></td>#}
{#                    <td class="osn" align="left"><b> {{ grp }} </b></td>#}
{#                    {% for schd in schdd %}#}
{#                        {% if grp == schd.group %}#}
{##}
{#                            <td align="left"><b> {{ schd.group }} {{ schd.num_less }} </b></td>#}
{##}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{##}
{#            {% endfor %}#}

            <tr class="nso">
                <th align="left"><b> # </b></th>
                <th align="left"><b> преподаватель </b></th>
                {% for i in rng %}
                    <th align="left"><b> {{ i }} пара </b></th>
                {% endfor %}
            </tr>

{#            {% for tch in teacher_list %}#}
{#                <tr>#}
{#                    <td align="left"><b> {{ forloop.counter }} </b></td>#}
{#                    <td class="osn" align="left"><b> {{ tch.last_name }} {{ tch.first_name.upper.0 }}. {{ tch.other_name.upper.0 }}. </b></td>#}
{##}
{##}
{#                    {% for sch in schfld %}#}
{#                        {% if tch == sch.plan.teacher %}#}
{##}
{#                            <td align="left"><b> {{ sch.plan.uch_plan_hour.uch_plan.disc }} {{ sch.classroom }} {{ sch.lesson.num_less }} </b></td>#}
{##}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#            {% endfor %}#}


            </tbody>
        </table>
    </div>

{% endblock %}