{% extends 'base.html' %}

{% block styles %}

{% endblock %}

{% block main %}
    <a href="/">назад</a><br>
    <br><br><br>


    <div class="row-fluid">
        <table class="schedule span11">
            <tbody>
            <tr class="nso">
                <th align="left"><b> # </b></th>
                <th align="left"><b> группа </b></th>
                {% for i in rng %}
                    <th align="left"><b> {{ i }} пара </b></th>
                {% endfor %}
            </tr>

            {% for key, values in schedule_group.items %}

                <tr>
                    <td align="left"><b> {{ forloop.counter }} </b></td>
                    <td class="osn" align="left"><b> {{ key }} </b></td>
                    {% for n, lesson in values.items %}

                            <td align="left"><b> {{ lesson }} </b></td>

                    {% endfor %}
                </tr>

            {% endfor %}

            <tr class="nso">
                <th align="left"><b> # </b></th>
                <th align="left"><b> преподаватель </b></th>
                {% for i in rng %}
                    <th align="left"><b> {{ i }} пара </b></th>
                {% endfor %}
            </tr>

            {% for key, values in schedule_teacher.items %}

                <tr>
                    <td align="left"><b> {{ forloop.counter }} </b></td>
                    <td class="osn" align="left"><b> {{ key }} </b></td>
                    {#                    {% if key == %}#}
                    {% for n, lesson in values.items %}

                        <td align="left"><b> {{ lesson }} </b></td>

                    {% endfor %}
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}