{% extends 'base.html' %}

{% block styles %}
    <SCRIPT TYPE="text/javascript" SRC="{{ MEDIA_URL }}js/schedule.js"></SCRIPT>
{% endblock %}

{% block main %}
    <a href="/">назад</a><br>
    <br><br><br>

    <h2> {{ day }}.{{ month }}.{{ year }},</h2>  <span style="font-size: 20px;">группа <b>{{ group }}</b></span>
    <b>пара № {{ lesson }}</b>
    <br/><br/><br/>


    <div class="row-fluid">
        <table class="schedule span11" id="schedule">
            <tbody>
            <tr class="nso">
                <th align="left"><b> # </b></th>
                <th align="left"><b> Дисциплина / Преподаватель </b></th>
                <th align="left"><b> Лекция </b></th>
                <th align="left"><b> Практика </b></th>
                <th align="left"><b> Консультация </b></th>
                <th align="left"><b> Экзамен </b></th>
{#                <th align="left"><b> Курс </b></th>#}
{#                <th align="left"><b> Пров </b></th>#}
            </tr>

            {% for tr in table %}

                <tr>
                    <td align="left"><b class="forloop"> {{ forloop.counter }} </b></td>
                    <td id="group_{{ tr }}" class="group osn" align="left">

                        <div>

                                {% for key in tr.keys %}
                                    <b style="color: #faa732;">{{ key.0 }}</b> - <b style="color: #ff7518;"> {{ key.1 }} </b><br/>
                                {% endfor %}

                        </div>
                    </td>
                    {% for value in tr.values %}
                        {% for v in value %}
                            {% if v == '' %}
                                    <td class="group" id="" align="left"> <a href=""><div><b></b></div></a> </td>
                                {% else %}
                                    <td class="group" id="" align="left"> <a href="add/{{ v.3 }}"><div><b>{{ v.0 }} {{ v.2 }} / {{ v.1 }}</b></div></a> </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>

            {% endfor %}


            <tr class="nso">
                <th align="left"><b> # </b></th>
                <th align="left"><b> итого </b></th>
                <th align="left"><b> / </b></th>
                <th align="left"><b> / </b></th>
                <th align="left"><b> / </b></th>
                <th align="left"><b> / </b></th>
{#                <th align="left"><b> 5 </b></th>#}
{#                <th align="left"><b> 6 </b></th>#}
            </tr>

            </tbody>
        </table>
    </div>

{% endblock %}