{% extends 'base.html' %}

{% block headcal %}

{% load adminmedia %}

<script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>

{{ cal.media }}

{% endblock %}

{% block main %}
<a href="/">назад</a><br>
<br><br><br>


<div class="row-fluid">
    <table class="schedule span11">
        <tbody>
        <tr>
            <th align="left"><b> # </b></th>
            <th align="left"><b> группа </b></th>
            <th align="left"><b> 1 пара </b></th>
            <th align="left"><b> 2 пара </b></th>
            <th align="left"><b> 3 пара </b></th>
            <th align="left"><b> 4 пара </b></th>
            <th align="left"><b> 5 пара </b></th>
        </tr>
        {% for grp in groups %}
        <tr>
            <th align="left"><b> {{ forloop.counter }} </b></th>
            <th align="left"><b> {{ grp }} </b></th>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}