{% extends 'base.html' %}

{% block main %}
Делаем расписание<br>
<a href="/">назад</a><br>
<br><br><br>

<table border="1">
    <tbody>
    <tr>
        <td align="left"><a href=""><b> # </b></a></td>
        <td align="left"><a href=""><b> группа </b></a></td>
        <td align="left"><a href=""><b> 1 пара </b></a></td>
        <td align="left"><a href=""><b> 2 пара </b></a></td>
        <td align="left"><a href=""><b> 3 пара </b></a></td>
        <td align="left"><a href=""><b> 4 пара </b></a></td>
        <td align="left"><a href=""><b> 5 пара </b></a></td>
    </tr>
    {% for grp in groups %}
    <tr>
        <td align="left"><a href=""><b> {{ forloop.counter }} </b></a></td>
        <td align="left"><a href=""><b> {{ grp }} </b></a></td>
        <!--{% if grp == schdl.plan.group_plan.group %}-->
            <!--&lt;!&ndash;{% for pr in pars %}&ndash;&gt;-->
                <!--&lt;!&ndash;<td align="left"><a href=""><b> {{ pr }} </b></a></td>&ndash;&gt;-->
            <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
        <!--{% endif %}-->
    </tr>

    {% endfor %}
    </tbody>
</table>


{% endblock %}