{% extends 'base.html' %}

{% block headcal %}

    {% load adminmedia %}

    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>

    {{ cal.media }}

{% endblock %}

{% block main %}
    <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Назад</a>
    <br><br><br>

    <form action="{% url schedule_index %}">
        {{ cal.as_p }}
        <button class="btn btn-success"> Показать расписание </button>
    </form>




{% endblock %}