<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>{% block title %}{% endblock %} {{ TITLE }}</title>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    {% block meta %}
    {% endblock %}

    <link href="{{ MEDIA_URL }}css/bootstrap.css" type="text/css" rel="stylesheet"> <!-- edited: topmenu -->
    <link href="{{ MEDIA_URL }}css/style.css" type="type/css" rel="stylesheet" />


    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.js"></script>

    {% block styles %}
    <!-- css / js -->
    {% endblock %}

    {% block headcal %}

    {% endblock %}
    <!--<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />-->
</head>
<body>
    {% load i18n %}

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">@dmitrovdpk</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="/"><i class="icon-home icon-white"></i> Главная</a>
                        </li>
                        <li class="active">
                            <a href="{% url teachers %}"><i class="icon-book icon-white"></i> Журнал</a>
                        </li>

                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-asterisk icon-white"></i>
                                    Меню
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Студентам</a></li>
                                    <li><a href="#">Преподавателям</a></li>
                                    <li><a href="#">Отчеты</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-leaf icon-white"></i>
                                    Администратор
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url tariffication %}">Тарификация</a></li>
                                    <li><a href="{% url schedule %}">Расписание</a></li>
                                    <li><a href="{% url group_plan %}">Группы учебного года</a></li>
                                    <li><a href="{% url profiles 'teachers' %}">Преподаватели</a></li>
                                    <li><a href="{% url profiles 'students' %}">Студенты</a></li>
                                    {% for page in pages %}
                                        <li><a href="/{{ page.0 }}/">{{ page.1 }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </ul>

                    {% if user.is_authenticated %}
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-user icon-white"></i>
                                    {{ user.get_full_name }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url profile %}"><i class="icon-home"></i> Профиль</a></li>
                                    <li><a href="{% url settings %}"><i class="icon-cog"></i> Настройки</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url logout %}">Выйти</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <form class="navbar-form pull-right" action="{% url login %}" method="post">
                            {% csrf_token %}
                            <input class="search-query span2" type="text" placeholder="Пользователь" id="id_username" name="username" maxlength="30" >
                            <input class="search-query span2" type="password" placeholder="Пароль" name="password" id="id_password" >
                            <button type="submit" class="btn">Войти</button>
                        </form>
                    {% endif %}
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- /navbar-inner -->
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <br/>
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
<hr/>
        <footer class="footer">
            <p style="padding: 20px;">© Дмитровский институт непрерывного образования <a href="#"><img src="{{ MEDIA_URL }}img/icon-certificate.png"></a>  <a href="https://twitter.com/#!/monosyde" target="_blank">@monosyde</a> and <a href="http://twitter.com/#!/RuslanTarasov" target="_blank">@RuslanTarasov</a> </p>
        </footer>
</body>
</html>