<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>{% block title %}{% endblock %} {{ TITLE }}</title>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    {% block meta %}
    {% endblock %}

    <link href="{{ MEDIA_URL }}css/bootstrap.min.css" type="type/css" rel="stylesheet" />
    <link href="{{ MEDIA_URL }}css/style.css" type="type/css" rel="stylesheet" />

    {% block styles %}
    <!-- css / js -->
    {% endblock %}


    {% block headcal %}

    {% endblock %}


    <!--<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />-->
</head>
<body>
    {% load i18n %}


    <div class="container-fluid" style="padding-bottom: 60px;">
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Пользовательские</li>
                        <li class="active"><a href="/">Главная</a></li>
                        {% block sidebar %}
                        {% endblock %}

                        <li class="nav-header">Администратор</li>
                        <li><a href="{% url tariffication %}">Тарификация</a></li>
                        <li><a href="{% url schedule %}">Расписание</a></li>
                        {% for page in pages %}
                            <li><a href="/{{ page.0 }}/">{{ page.1 }}</a></li>
                        {% endfor %}
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span9">
                {% block main %}

                {% endblock %}
            </div><!--/span-->
        </div><!--/row-->


    </div>

</body>
</html>