body {
    background: #FFF;
    margin: 0px;
    padding: 0px;
}

#hat {
    margin: 0px;
    padding: 0px;
    background: #555;
    color: #FFD;
    height: 60px;
    border-top: solid 1px #999;
    text-align: center;
}

#menu {
    text-align: center;
}
th {
    min-width: 50px;
}
#menu a {
    color: #080;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}

#main {
    margin: 10px;
}

#mark {
    border-collapse: collapse;
    border: solid #999 1px;
    float: left;
    margin: 0px;
}

#mark a {
    color: black;
    text-decoration: none;
}

#mark td a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#mark .name {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

#mark .mark {
    font-size: 17px;
    text-align: center;
}

a {
    border-style: none;
}

#days td {
    padding: 4px;
    text-align: center;
}
#days td a {
    display: inline-block;
    color: #222;
    height: 100%;
    width: 100%;
}

#days td.theme {
    font-size: 15px;
}

#form_themes {
    width: 404px;
    padding-bottom: 2px;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#form_marks {
    width: 300px;
    padding-bottom: 2px;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#form_marks .mark_5 {
    color: red;
}
#form_marks .mark_4 {
    color: green;
}
#form_marks .mark_3 {
    color: blue;
}
#form_marks .mark_2 {
    color: black;
}
