body {
    background: #FFF;
    margin: 0px;
    padding: 0px;
}

#hat {
    margin: 0px;
    padding: 0px;
    background: #555;
    color: #FFD;
    height: 60px;
    border-top: solid 1px #999;
    text-align: center;
}

#menu {
    text-align: center;
}
th {
    min-width: 50px;
}
#menu a {
    color: #080;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}

#main {
    margin: 10px;
}

#mark {
    border-collapse: collapse;
    border: solid #999 1px;
    float: left;
    margin: 0px;
}

#mark a {
    color: black;
    text-decoration: none;
}

#mark th {
    padding: 4px;
    border: solid #999 1px;
    background: #FF9;
}

#mark td {
    padding: 4px;
    border: solid #999 1px;
    text-align: center;
}
#mark td a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#mark .name {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

#mark .mark {
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}

a {
    border-style: none;
}

#footer {
    font-size: 80%;
    background: #333;
    padding-top: 20px;
    margin-top: 10px;
    color: #FFD;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    border-top: solid 1px #999;
}


#days {
    border-collapse: collapse;
    border: solid #999 1px;
    float: right;
    margin: 0px 30px 0px 20px;
}

#days th {
    padding: 4px;
    border: solid #999 1px;
    background: #FF9;
}

#days td {
    padding: 4px;
    border: solid #999 1px;
    text-align: center;
    vertical-align: middle;
}
#days td a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#days td.theme {
    font-size: 15px;
    cursor: pointer;
}
#days .name {
    text-align: left;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#form_themes {
    width: 404px;
    padding-bottom: 2px;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#form_marks {
    width: 300px;
    padding-bottom: 2px;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#ct-header { background: url(/media/img/hd-bg.png); padding: 18px 18px 14px 18px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#ct-header  h2 { color: #444; font-size: 2em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#ct-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }

.txt-fld { position: relative; width: 364px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
.btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

.txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 1.3em; text-align: left;  }
.txt-fld input { width: 244px; height: 40px;,padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
.txt-fld input.good_input { background: #DEF5E1 236px center no-repeat; }
.txt-fld input.error_input { background: #FDE0E0; }



p.error { position: absolute; bottom: 48px; right: 20px; width: 262px; color: #FFF; font-size: 1.1em; padding-bottom: 5px; background: url(img/error-arw.png) 20px bottom no-repeat; text-align: left; margin: 0; text-shadow: none; }
p.error span { display: inline-block; background: #D43636; padding: 6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  }
.txt-fld input:focus, .txt-fld textarea:focus { background-color: #FAF9DC; }

button {
    float: right;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #3F9D4A;
    border: none;
    width: auto;
    overflow: visible;
    font-size: 1.4em;
    color: #FFF;
    padding: 7px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}


