
table.tariffication {
    background-color: rgba(237, 237, 255, 0.26);
}

table.schedule {
    background-color: rgba(237, 237, 255, 0.26);
}

table.schedule .osn {
    border: 2px solid #ffebcd;
    background-color: #ffffcc;
}

table.schedule .nso {
    background-color: #a9dba9;
}

table.schedule .type_hour {
    color: #FF0000;
    font-size: 10px;
    padding-left: 5px;
}

table.schedule .group_lesson {
    color: #faa732;
    font-size: 15px;
    padding-right: 5px;
}

table.schedule .teacher {
    padding-left: 5px;
}

table.tariffication tr, table.group-plan tr, table.schedule tr {
    height: 25px;
    border: 2px solid #ffebcd;
}

table.tariffication th, table.group-plan th, table.schedule th {
    text-align: center;
    color: #35a119;
    font-size: medium;
}

table.schedule th {
    border: 2px solid #ffebcd;
}

table.tariffication td, table.schedule td {
    text-align: center;
}

table.tariffication .addin:hover {
    background-color: #ffebcd;
}

table.group-plan tr {
    border: 2px solid #ffebcd;
}

table.schedule td {
    border: 2px solid #ffebcd;
}

table.schedule {
    border: 2px solid #ffebcd;
}
table.schedule .group:hover {
    background-color: #ffebcd;
}