.icon-info-big {
    padding: 0;
    min-height: 26px;
    min-width: 26px;
    background: url("../img/info.png") left top no-repeat;
}
.icon-edit-big {
    padding: 0;
    min-height: 26px;
    min-width: 26px;
    background: url("../img/edit.png") left top no-repeat;
}
table.tariffication {
    background-color: rgba(237, 237, 255, 0.26);
}

table.schedule {
    background-color: rgba(237, 237, 255, 0.26);
}

table.schedule .osn, table#mark td.name, table#days td.day {
    border: 2px solid #ffebcd;
    background-color: #ffffcc;
}

table.schedule .nso {
    background-color: #a9dba9;
}

table.schedule .type_hour {
    font-size: 10px;
    padding-left: 5px;
}

table.schedule .group_lesson {
    color: #faa732;
    font-size: 15px;
    padding-right: 5px;
}

table.schedule .forloop {
    color: #0088cc;
    padding: 5px;
}


table.schedule .teacher {
    padding-left: 5px;
}

table.tariffication tr,
table.group-plan tr,
table.schedule tr,
table#mark tr
table#days tr {
    height: 25px;
    border: 2px solid #ffebcd;
}

table.tariffication th,
table.group-plan th,
table.schedule th,
table#mark th,
table#days th {
    text-align: center;
    color: #35a119;
    font-size: medium;
}

table.schedule th,
table#mark th,
table#days th {
    border: 2px solid #ffebcd;
    color: #f3f42c;
    background-color: #0088cc;
}

table.tariffication td, table.schedule td, table#mark td {
    text-align: center;
}

table.schedule td,
table.tariffication .addin:hover,
table.group-plan tr,
table#mark td,
table#days td {
    border: 2px solid #ffebcd;
}
table.schedule .group:hover {
    background-color: #ffebcd;
}